/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 *
 * TAC5112 on an nRF5340 Audio DK, wired to the EXT P10 codec-interface
 * connector.
 */

#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	tac5112: audio-codec@50 {
		compatible = "ti,tac5112";
		reg = <0x50>; /* ADDR strapped to GND */
		fault-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
	};
};

&gpio0 {
	codec-interface {
		/delete-property/ output-low;
		output-high;
	};
};

&i2s0 {
	status = "okay";
	pinctrl-0 = <&i2s0_default>;
	pinctrl-1 = <&i2s0_sleep>;
	pinctrl-names = "default", "sleep";
};

/ {
	aliases {
		tac5112-i2s = &i2s0;
	};
};
